<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="icon" type="image/png" href="./assets/images/favicon.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Classic Lipstick - Make Up</title>
  </head>

  <body>
    <!-- Navigation -->
    <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="/" class="logo"><img src="assets/images/logo.png" alt="">

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/review" class="nav-link">Reviews</a>
            </li>
            <li class="nav-item">
              <a href="https://www.arianagrande.com/" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="https://www.arianagrande.com/" class="nav-link">Contact</a>
            </li>
          <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="/login" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <a href="cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

    <!-- Product Details -->
    <section class="section product-detail">
      <div class="details container">
        <div class="left image-container">
          <div class="main">
            <img src="./assets/images/mk-04.jpg" id="zoom" alt="" />
          </div>
        </div>
        <div class="right">
          <span>Home/Make Up</span>
          <h1>Classic Lipstick</h1>
          <div class="price">$29.00</div>
          <form class="form" action="/add-to-cart" method="POST">
            <input type="hidden" name="product" value="ClassicLipstick">
            <input type="hidden" name="image" value="./assets/images/mk-04.jpg">
            <input type="hidden" name="price" value="29.00"> <!-- Tambahkan ini -->
            <input type="number" name="quantity" placeholder="1" value="1" min="1">
            <button type="submit" class="addCart">Add To Cart</button>
        </form>
          <h3>Product Detail</h3>
          <p>
            discover the classic lipstick that exceeds your highest expectations. powered by hydrating 
            milk thistle and hydrolyzed collagen, this irresistibly rich, classically creamy formula glides 
            onto lips, depositing lightweight-yet-long-lasting pigments for a high-impact effect. the thin, 
            bullet-shaped design is deliberately innovated for easy application and next-level 
            precision—wrapping lips in cushiony plushness, nourishing ingredients, long-lasting comfort 
            & a smooth satin finish.
          </p>
        </div>
      </div>
    </section>

    <!-- Related -->
    <section class="section featured">
      <div class="top container">
        <h1>Related Products</h1>
      </div>
      <div class="product-center container">
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./assets/images/collection-3.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Make Up</span>
            <a href="/ThankuNextlips-detail">Thank u, Next lips</a>
            <h4>$7.99</h4>
          </div>
          <ul class="icons">
            <li><a href="/cart"><i class="bx bx-cart"></i></a></li>
        </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./assets/images/mk-01.jpg" alt="" />
            </a>
            <span class="discount">Best Seller!</span>
          </div>
          <div class="product-info">
            <span>Make Up</span>
            <a href="/Foundation-detail">Foundation</a>
            <h4>$29.00</h4>
          </div>
          <ul class="icons">
            <li><a href="/cart"><i class="bx bx-cart"></i></a></li>
        </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./assets/images/product-03.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Skincare</span>
            <a href="/CoolingBlurringUnderEyeBalm-detail">Cooling Blurring Under Eye Balm</a>
            <h4>$29.00</h4>
          </div>
          <ul class="icons">
            <li><a href="/cart"><i class="bx bx-cart"></i></a></li>
        </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="./assets/images/mk-05.jpg" alt="" />
            </a>
            <span class="discount">20%</span>
          </div>
          <div class="product-info">
            <span>Make Up</span>
            <a href="/EyeshadowPalette-detail">Eyeshadow Palette</a>
            <h4>$29.00</h4>
          </div>
          <ul class="icons">
            <li><a href="/cart"><i class="bx bx-cart"></i></a></li>
        </ul>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>
    <!-- Custom Script -->
    <script src="./js/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
      crossorigin="anonymous"
    ></script>
    <script src="assets\js\zoomsl.min.js"></script>
    <script>
      $(function () {
        console.log("hello");
        $("#zoom").imagezoomsl({
          zoomrange: [4, 4],
        });
      });
    </script>
  </body>
</html>
